.idea
.code
**/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
**/node_modules/
.DS_Store
go.work*

**/command-output/

.idea/
*.iml

yarn.lock
package_lock.json
**/pulumiManifest.go

ci-scripts
provider/**/schema-embed.json
**/version.txt
**/nuget
**/dist

__pycache__
venv
sdk/python/build
sdk/python/*.egg-info

# Ignore local build tracking directory
.make
