/vendor/
.pulumi
**/bin/
**/obj/
Pulumi.*.yaml
sdk/nodejs/node_modules
sdk/nodejs/package_lock.json
**/.gradle

**/command-output/

.idea/
*.iml

yarn.lock

provider/**/schema-embed.json
**/version.txt

**/ci-scripts
**/nuget

**/node_modules

dist/**
**/.DS_store
.vscode

go.work*
